
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


ORDER_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/order_db
PAYMENT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payment_db
RESTAURANT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/restaurant_db
DELIVERY_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/delivery_db


KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=food-delivery


API_GATEWAY_PORT=3000
ORCHESTRATOR_PORT=3001
PAYMENT_SERVICE_PORT=3002
RESTAURANT_SERVICE_PORT=3003
DELIVERY_SERVICE_PORT=3004


JWT_SECRET=change-me-in-production